footer{

  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;

}

body{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(56, 189, 212);

}

